@charset "utf-8";

/* Utilities */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Background */
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Contents */
h2 {
    font-size: 2.5rem;
    color: rgba(255,255,255,0.8);
    padding: .5rem 1rem;
    font-weight: 400;
}
.hex-text {
    font-size: 3rem;
    color: #333;
    padding: .5rem 1rem;
    margin-bottom: .5rem;
    background: rgba(255,255,255,0.2);
}

.btn-click {
    background: #333;
    color: #fff;
    font-size: 2rem;
    padding: .5rem 1rem;
    outline: none;
    border: none;
    border-radius: .5rem;
}

.btn-click:hover {
    background: darkslategrey;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}